@import "base";

$palette: ('#000000' '#ffffff' '#880000' '#aaffee' '#cc44cc' '#00cc55' '#0000aa' '#eeee77' '#dd8855' '#664400' '#ff7777' '#333333' '#777777' '#aaff66' '#0088ff' '#bbbbbb');

* {
    margin: 0; padding: 0;
}

ul {
    list-style: none;
}

a {
    color: #eeeeee;
}

html, body {
    // height: 100%;
    background-color: #000;
    color: #eeeeee;
    padding: 10px;
    font-family: monospace;
    font-size: 12px;
}

.layout {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 20px;

    .content {
        h1 {
            text-align: center;
        }
        p.intro {
            padding: 5px;
            box-sizing: border-box;
        }
    }
}

section {
    background-color: #212121;
    width: 100%;
    padding: 5px;
    min-width: 330px;
    box-sizing: border-box;
    text-align: center;
    p {
        margin-bottom: 10px;
    }
}

canvas {
    display: inline-block;
    background-color: black;
    margin-bottom: 5px;
}

/*
    section grid layout
*/
.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;

    h1 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    p.intro {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    section.droppable {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    section.a {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    section.b {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    section.c {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
    }
    section.d {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    section.e {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    section.f {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media(max-width: 725px) {
    .layout {
        min-width: auto;

        .content {
            display: block;

            p.intro {
                text-align: center;
                margin: 0 auto 30px;
            }

            section {
                display: block;
                margin: 0 auto 30px;
            }
            section.droppable {
                width: 100%;
                min-width: 320px;
                min-height: 200px;
            }
        }
    }
}

/*
    arrow between sections
*/
p.intro, section {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;

        $svg-body: (
            '<path stroke="#0088ff" stroke-width="2" fill="#0000aa" '
            'd="M20,10 H30 V25 H40 L25,40 L10,25 H20 Z"'
            '/>'
        );
        @include svg(50, 50, $svg-body, 0, 0, contain, center center);
        // 'd="M20,2 V38 M5,25 L 20,38 L 35,25" '

    }
}

p.intro:after {
    left: 0;
    top: 100%;
}
section.droppable:after {
    left: 100%;
    top: 50%;
    transform: translate(0, -50%) rotate(-90deg);
}
section.a:after {
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
}
section.b:after {
    right: 100%;
    top: 50%;
    transform: translate(0, -50%) rotate(90deg);
}
section.c:after {
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
}
section.d:after {
    left: 100%;
    top: 50%;
    transform: translate(0, -50%) rotate(-90deg);
}
section.e:after {
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
}
section.f:after {
    content: none;
}

@media(max-width: 725px) {
    .layout .content {
        p.intro:after, section:after {
            left: 50%;
            top: 100%;
            transform: translate(-50%, 0);
        }
    }

}

.droppable {
    box-sizing: border-box;
    border: 2px dashed #333;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    &.dragover {
        border: 2px solid #0088ff;
        background-color: white;
    }
    $svg-body: (
        '<g stroke="none">'
        '    <path fill="#002255" d="'
        '        M 314,31'
        '        V 147'
        '        A 128,124 0 1 0 314,359'
        '        V 475'
        '        A 232,233 0 1 1 314,31'
        '        M 317,165 H 491 L 412,246 H 317 Z"/>'
        '    <path fill="#ff0000" d="'
        '        M 317,261 H 412 L 491,342 H 317 Z"/>'
        '</g>'
    );
    @include svg(500, 500, $svg-body, 0, 0, contain, center center);

    .options {
        position: absolute;
        left: 100%;
        top: 0;
        width: 320px;
        height: 200px;
        // background-color: #00000099;
        box-sizing: border-box;
        padding: 5px;

        &.active {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        h2 {
            margin-bottom: 15px;
        }

        ul.bgcolor {
            display: grid;
            grid-template-columns: repeat(16, 1fr);
            grid-column-gap: 5px;
            margin-bottom: 15px;

            li {
                height: 0;
                padding-bottom: 100%;
                position: relative;
                cursor: pointer;
                &.active {
                    &:after {
                        content: '';
                        height: 2px;
                        width: 100%;
                        background-color: white;
                        position: absolute;
                        left: 0;
                        bottom: -4px;
                    }
                }

                @for $i from 1 through 16 {
                    &:nth-child(#{$i}) {
                        background-color: #{nth($palette, $i)};
                    }
                }
            }
        }

        ul.nudge {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 5px;
            grid-row-gap: 5px;
            li {
                padding: 5px 0;
                background-color: green;
                &:nth-child(1) {
                    grid-column-start: 3;
                    grid-column-end: 4;
                    grid-row-start: 1;
                    grid-row-end: 2;
                }
                &:nth-child(2) {
                    grid-column-start: 2;
                    grid-column-end: 3;
                    grid-row-start: 2;
                    grid-row-end: 3;
                }
                &:nth-child(3) {
                    grid-column-start: 4;
                    grid-column-end: 5;
                    grid-row-start: 2;
                    grid-row-end: 3;
                }
                &:nth-child(4) {
                    grid-column-start: 3;
                    grid-column-end: 4;
                    grid-row-start: 3;
                    grid-row-end: 4;
                }
            }
        }
    }
    .options-toggle {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 5px;
        bottom: 5px;
        cursor: pointer;
        $svg-data: (
            '<mask id="bar" stroke="none">'
                '<rect x="0" y="0" width="100" height="100" fill="white" />'
                '<circle cx="50" cy="50" r="14" fill="black" />'
            '</mask>'
            '<g stroke="#bbbbbb" stroke-width="20" fill="none" mask="url(#bar)">'
                '<path d="M50,5 V95" />'
                '<path d="M50,5 V95" transform="rotate(60 50 50)"/>'
                '<path d="M50,5 V95" transform="rotate(-60 50 50)"/>'
                '<circle stroke="none" fill="#bbbbbb" cx="50" cy="50" r="33" />'
            '</g>'
        );
        @include svg(100, 100, $svg-data, 0, 0, contain, center center);
    }

}

section.f pre {
    font-size: 15px;
    text-align: left;
    max-height: 200px;
    min-width: 320px;
    overflow-y: scroll;
    background-color: #0000aa;
    color: #0088ff;
    cursor: pointer;
}
@media(max-width: 725px) {
    .layout .content {
        section.f pre {
            font-size: 12px;
        }
    }
}
@media(max-width: 610px) {
    .layout .content {
        section.f pre {
            font-size: 10px;
        }
    }
}
@media(max-width: 525px) {
    .layout .content {
        section.f pre {
            font-size: 8px;
        }
    }
}
@media(max-width: 445px) {
    .layout .content {
        section.f pre {
            font-size: 6px;
        }
    }
}

.ref {
    image-rendering: pixelated; // chrome
    // image-rendering: crisp-edges; firefox
    $w: 128;
    $h: 128;
    $scale: 2;
    width: #{$w * $scale}px;
    height: #{$w * $scale}px;
    margin: 0 auto 15px;

    background: url('assets/images/petscii_0-255_16x16.png') no-repeat left top;
    background-size: contain;    
}
