* {
    margin: 0; padding: 0;
}

ul {
    list-style: none;
}

html, body {
    height: 100%;
    background-color: #212121;
    color: #eeeeee;

    padding: 10px;
}

.layout {
    padding: 10px;
    text-align: center;
}

section {
    display: inline-block;
    vertical-align: top;

    margin: 0 auto 10px auto;
    border: 2px dashed #666;
    padding: 5px;

    white-space: nowrap;

    canvas {
        width: 320px;
        height: 200px;
        background-color: black;
        display: inline-block;
        vertical-align: top;
    }
    p {
        width: 320px;
        height: 200px;
        padding: 5px;
        box-sizing: border-box;

        text-align: left;
        background-color: #333;
        display: inline-block;
        vertical-align: top;
        white-space: normal;
    }
}

.dragover {
    border: 2px solid green;
}

section.b canvas {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;
}